DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAPS_API_KEY=
AWS_S3_URL=http://127.0.0.1:4566
GROQ_API_KEY=
URL=http://localhost:3000
AWS_ACCESS_ID=test
AWS_ACCESS_SECRET=test
AWS_S3_REGION=us-west-1
BETTER_AUTH_SECRET=ysI0G5Rbw3y8ubK0VQjvplLyRCVrHfjm #randomly generated secret for development.
BETTER_AUTH_URL=http://localhost:3000
