BASE_URL=http://localhost:3000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
GROQ_API_KEY=
AWS_S3_URL=https://s3.localhost.localstack.cloud:4566
AWS_ACCESS_ID=test
AWS_ACCESS_SECRET=test
AWS_S3_REGION=us-west-1
BETTER_AUTH_SECRET=ysI0G5Rbw3y8ubK0VQjvplLyRCVrHfjm # randomly generated secret for development.
BETTER_AUTH_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_BUY_BUTTON_ID=
NEXT_PUBLIC_ANALYTICS_ID=00000000-0000-0000-0000-000000000000

# Which email provider to use
EMAIL_PROVIDER_NUMBER=1

# Email provider #1
EMAIL1_HOST="smtp.ethereal.email"
EMAIL1_PORT=587
EMAIL1_SECURE=false
EMAIL1_USER="tiffany96@ethereal.email"
EMAIL1_PASSWORD="SZX6kw2P2zMZSpSp88"
EMAIL1_FROM='"Accuguide dev email" <tiffany96@ethereal.email>'

# Email provider #2
EMAIL2_API_KEY=
EMAIL2_FROM=

