DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_MAPS_API_KEY=
AWS_S3_URL=http://127.0.0.1:4566
BUCKET_URL=http://pfps.s3.localhost.localstack.cloud:4566/